<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
    <section name="RedisConfig" type="RedisDemo.Redis.RedisConfigInfo,PumpDiagnosticsSystem"/>
  </configSections>
  <RedisConfig WriteServerList="192.168.0.9:6379" ReadServerList="192.168.0.9:6379" MaxWritePoolSize="60" MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false">
  </RedisConfig>
  <appSettings>
    <add key="FilePath" value="E:\PublishJiBengUI\XMData\" />
    <add key="AlarmTime" value="120" />
    <add key="gateway" value="" />
    <!--th 192.168.18.122 zb 198.186.202.56 bs kong-->

    <add key="Inv" value="3" />
    <add key="BeginTime" value="2017-12-18 15:20" />
    <add key="EndTime" value="2017-12-18 15:40" />
    <add key="Loop" value="1" />

    <add key="PSCODE" value="SHIYAN" />
    <!--<add key="PSCODE" value="THSC" />-->
    <!--<add key="PSCODE" value="BSSC" />-->
    <!--<add key="PSCODE" value="ZBSC" />-->

  </appSettings>
  <connectionStrings>
    <add name="PYWSDbContext" providerName="System.Data.SqlClient" connectionString="data source=192.168.0.9;initial catalog=PumpVibraDB-UI;persist security info=True;user id=sa;password=123.net;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>